header {
    background-color: var(--ct-color-bg-tertiary);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: var(--ct-color-font-primary);
    font-size: 24px;
}